$primaryColor: #e99c2e;
$SecondaryColor: #616060;
$Bg-color: #a09e9c;

.h1color
{
    color:$Bg-color;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    line-height: 38.4px;
    vertical-align: baseline;   
    font-weight: 500;
    word-spacing: 0;
    font-style: normal;
    font-variant: normal;
    text-align: start;
}