<div class="bg-dark d-flex flex-row-reverse">
  <img src="../../../assets/1.png" class="d-block w-40" alt="..." />
</div>
<div class="carousel-caption  text-start d-none d-md-block " style="bottom: 8.5rem ; left: 8%;">
  <h4 class="fw-light">Great Design Collection</h4>
  <h2 class="display-5 fw-normal mb-4" >Mapple Wood Accent Chair</h2>
  <p>
    Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiuiana
    Smod Tempor Ut<br> Labore Et Dolore Magna Aliqua. Ut Enim Ad Minim Veniam,<br> Quis
    Nostrud Exercitation Ullamco Laboris Nisi Ut Aliquip.
  </p>
  <div class="packages-price mb-4">

    <p class="animated fadeInUp">
      $ 199.00
      <del>$ 299.00</del>
    </p>
  </div>
  <button class="btn btn-danger btn-lg">Add To cart</button>
  <button class="btn btn-outline-warning btn-lg ms-2">More info</button>
</div>
